.item-list-conatiner {
    width: 90vw;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-items: center;
    justify-content: space-around;

    background-color: lightblue;
    border-radius: 10px;
}

.item {
    list-style-type: none;
    width: 10vw;
    height: 10vh;
    background-color: lightcoral;
    border-radius: 10px;
}