.NavBar, .NavBar > ul {
    border-bottom: 1px solid grey;
    height: 100%;
}

.NavBar > ul {
    list-style-type: none;

    display: flex;
    justify-content:space-around;
    align-items: center;
}

.NavBar > ul > li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}   

    .NavBar > ul > li a:hover {
        color: rgb(177, 177, 177);
    }
